---
const { id } = Astro.props;
import { turso } from '../turso';
import Requisitos from '../components/Requisitos.astro';
import Ventajas from './Ventajas.astro';
import Form from "./Form.astro";

const { rows } = await turso.execute({
  sql: 'SELECT * FROM carrera WHERE id_carrera = ?',
  args: [id!]
})

const carrera = rows[0];
---
<section class="bg-gray-50 dark:bg-gray-800">
    
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">               
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">            
            <Form id={id}/>
            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">{carrera.nombre}</h2>
                <p class="mb-8 font-light lg:text-xl">{carrera.descripcion}</p>               
                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                    <p class="font-light lg:text-xl">Requisitos:</p>
                   <Requisitos id={id}/>
                </ul>
                <p class="font-light lg:text-xl mb-4">Características:</p>
                <Ventajas id={id} >
            </div>
        </div>
    </div>
</section>